.pixelify-sans-text {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  
}

h1{
  color: rgb(25, 105, 216);
}

h2{
  color: rgb(146, 215, 255);
  font-weight: lighter;
}

.container {
    display: grid; 
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 0.3fr 2.5fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header"
      "Store Game"
      "Footer Footer";
      height: 100vh; 
  }

  .Footer { 
    grid-area: Footer; 
    background-color: rgb(24, 24, 97);
    }

  .Header {
     grid-area: Header; 
     background-color: rgb(146, 215, 255);
    }

  .Store { 
    text-align: center;
    grid-area: Store; 
    background-color: rgb(7, 81, 208);
    }

  .Game { 
    text-align: center;
    grid-area: Game;
    background-color: rgb(48, 117, 201); 
    }



